In [93]:
import numpy as np
import pandas as pd
from math import sqrt

In [106]:
COL_NAMES = ["mpg", "cylinders", "displacement", "horsepower", "weight", "acceleration", "model_year", "origin", "name"]
             
auto = pd.read_csv("auto+mpg/auto-mpg.data", sep='\s+', names=COL_NAMES)

In [107]:
auto.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150.0,3433.0,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140.0,3449.0,10.5,70,1,ford torino

In [108]:
mpg = auto["mpg"]
auto = auto.drop(columns=["mpg"])
train = auto.sample(frac=0.8)
test = auto.drop(train.index)

In [167]:
class FFNN:
    def __init__(self, X: pd.DataFrame, n_h1, n_out):
        self.X = X
        self.W1, self.W2 = FFNN.initialize_weights(len(X.columns), n_h1, n_out)

    def forward(self):
        output1 = []
        output2 = []
        
        print("W1:", type(self.W1))
        print("X:",type(self.X.to_numpy()))

        output1 = FFNN.relu(self.X.to_numpy() @ self.W1)
                
        output2 = FFNN.sigmoid(output1 @ self.W2)

        return output2

    @staticmethod
    def initialize_weights(n_in, n_h1, n_out):
        Var = 2/(n_in + n_out)
        std = math.sqrt(Var)

        w1 = np.random.normal(loc=0, scale=std, size= (n_in, n_h1))
        w2 = np.random.normal(loc=0, scale=std, size= (n_h1, n_out))
        return w1, w2
        

    @staticmethod
    def relu(x):
        return max(0,x)

    @staticmethod
    def sigmoid(x):
        return 1/(1+(e ** (-x)))

In [168]:
nn = FFNN(auto, 2, 1)
nn.forward()

W1: <class 'numpy.ndarray'>
X: <class 'numpy.ndarray'>

TypeError: can't multiply sequence by non-int of type 'float'